{% extends "testdb/base.html" %}
{% block content %}

<style type="text/css">
	@media screen and (max-width: 800px){
  p { display: inline; }
}
</style>
  <title>About us</title>
    <p style="font-family: time new ramone; font-size: 19px; text-align: justify; margin : 0; margin-left: 130px; margin-top: 40px; width: 115%;">The Mesopotamian Seismological Network (MPSN) was established by Haydar Al-Shukri and Hanan Mahdi from the University of Arkansas at Little Rock (UA Little Rock) in collaboration with Lawrence Livermore National Lab (LLNL). The project received initial support from the National Science Foundation, the US Department of Energy, and UA Little Rock. It involved the installation of broadband seismic stations, as well as training and capacity building for research and infrastructure. All stations were installed in cooperation with the Universities of Baghdad, Basrah, Sumer, Anbar, Sulaymaniyah, Kirkuk, and Duhok. </p>
<p  style="font-family: time new ramone; font-size: 19px; text-align: justify; margin : 0; margin-left: 130px; margin-top: 40px; width: 115%;">List of the MPSN team memebers:</p>
<table border="1" cellpadding="10" cellspacing="0" style="margin-left: 130px; width: 80%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>University</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Haydar Al-Shukri</td>
      <td>University of Arkansas at Little Rock</td>
      <td><a href="mailto:hjalshukri@ualr.edu">hjalshukri@ualr.edu</a></td>
    </tr>
    <tr>
      <td>Hanan Mahdi</td>
      <td>University of Arkansas at Little Rock</td>
      <td><a href="mailto:hhmahdi@ualr.edu">hhmahdi@ualr.edu</a></td>
    </tr>
    <tr>
      <td>Najah Abd</td>
      <td>University of Baghdad</td>
      <td><a href="mailto:najah.abd@sc.uobaghdad.edu.iq">najah.abd@sc.uobaghdad.edu.iq</a></td>
    </tr>
    <tr>
      <td>Wathiq Abdulnaby</td>
      <td>University of Basrah</td>
      <td><a href="mailto:wathiq.abdulnaby@uobasrah.edu.iq">wathiq.abdulnaby@uobasrah.edu.iq</a></td>
    </tr>
    <tr>
      <td>Ali Ramthan</td>
      <td>University of Sumer</td>
      <td><a href="mailto:aliramthan@uosumer.edu.iq">aliramthan@uosumer.edu.iq</a></td>
    </tr>
    <tr>
      <td>Emad Al-Heety</td>
      <td>University of Anbar</td>
      <td><a href="mailto:emadsalah@uoanbar.edu.iq">emadsalah@uoanbar.edu.iq</a></td>
    </tr>
    <tr>
      <td>Osama Mohammad</td>
      <td>University of Anbar</td>
      <td><a href="mailto:msc.osamajm@uoanbar.edu.iq">msc.osamajm@uoanbar.edu.iq</a></td>
    </tr>
    <tr>
      <td>Omar Ahmed</td>
      <td>University of Sulaymaniyah</td>
      <td><a href="mailto:omar.ahmed@univsul.edu.iq">omar.ahmed@univsul.edu.iq</a></td>
    </tr>
    <tr>
      <td>Adel Abdalla</td>
      <td>University of Kirkuk</td>
      <td><a href="mailto:adilabdalla@uokirkuk.edu.iq">adilabdalla@uokirkuk.edu.iq</a></td>
    </tr>
    <tr>
      <td>Nazar Numan</td>
      <td>University of Duhok</td>
      <td><a href="mailto:nazar.numan@uod.ac">nazar.numan@uod.ac</a></td>
    </tr>
    <tr>
      <td>Rafed Al-Mohammed</td>
      <td>University of Basrah</td>
      <td><a href="mailto:rafed.ahmad@uobasrah.edu.iq">rafed.ahmad@uobasrah.edu.iq</a></td>
    </tr>
    <tr>
      <td>Muntadher Al-Kaabi</td>
      <td>University of Arkansas at Little Rock</td>
      <td><a href="mailto:malkaabi@ualr.edu">malkaabi@ualr.edu</a></td>
    </tr>
    <tr>
      <td>Dhuha Kataa</td>
      <td>University of Basrah</td>
      <td><a href="mailto:dhkataa@gmail.com">dhkataa@gmail.com</a></td>
    </tr>
    <tr>
      <td>Essa Al-Kaabi</td>
      <td>University of Basrah</td>
      <td><a href="mailto:alkaabi.essa@outlook.com">alkaabi.essa@outlook.com</a></td>
    </tr>
  </tbody>
</table>

{% endblock content %}
