{% extends "testdb/base.html" %}
{% block content %}

<br>
<br>
<div>
    
    <br>


    <table style="width:1000px; margin-left: 70px; font-family: Times New Roman;">
        <tr>
          <th>Station</th>
          <th>Component</th>
          <th>Distance (km)</th>
          <th>Azimuth (degree)</th>
          <th>Back Azimuth (degree)</th>
          <th>Amplitude (nm)</th>
          <th>Gain</th>
          <th>Local Magnitude (ML)</th>
        </tr>
        <tr>
          {% if object.station_m.0 %}<td>{{ object.station_m.0 }}</td>{% endif %}
          {% if object.comp_m.0 %}<td>{{ object.comp_m.0 }}</td>{% endif %}
          {% if object.DIS_m.0 %}<td>{{ object.DIS_m.0 }}</td>{% endif %}
          {% if object.azm_m.0 %}<td>{{ object.azm_m.0 }}</td>{% endif %}
          {% if object.b_azm_m.0 %}<td>{{ object.b_azm_m.0 }}</td>{% endif %}
          {% if object.amp_m.0 %}<td>{{ object.amp_m.0 }}</td>{% endif %}
          {% if object.gain_m.0 %}<td>{{ object.gain_m.0 }}</td>{% endif %}
          {% if object.local_m_m.0 %}<td>{{ object.local_m_m.0 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.1 %}<td>{{ object.station_m.1 }}</td>{% endif %}
          {% if object.comp_m.1 %}<td>{{ object.comp_m.1 }}</td>{% endif %}
          {% if object.DIS_m.1 %}<td>{{ object.DIS_m.1 }}</td>{% endif %}
          {% if object.azm_m.1 %}<td>{{ object.azm_m.1 }}</td>{% endif %}
          {% if object.b_azm_m.1 %}<td>{{ object.b_azm_m.1 }}</td>{% endif %}
          {% if object.amp_m.1 %}<td>{{ object.amp_m.1 }}</td>{% endif %}
          {% if object.gain_m.1 %}<td>{{ object.gain_m.1 }}</td>{% endif %}
          {% if object.local_m_m.1 %}<td>{{ object.local_m_m.1 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.2 %}<td>{{ object.station_m.2 }}</td>{% endif %}
          {% if object.comp_m.2 %}<td>{{ object.comp_m.2 }}</td>{% endif %}
          {% if object.DIS_m.2 %}<td>{{ object.DIS_m.2 }}</td>{% endif %}
          {% if object.azm_m.2 %}<td>{{ object.azm_m.2 }}</td>{% endif %}
          {% if object.b_azm_m.2 %}<td>{{ object.b_azm_m.2 }}</td>{% endif %}
          {% if object.amp_m.2 %}<td>{{ object.amp_m.2 }}</td>{% endif %}
          {% if object.gain_m.2 %}<td>{{ object.gain_m.2 }}</td>{% endif %}
          {% if object.local_m_m.2 %}<td>{{ object.local_m_m.2 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.3 %}<td>{{ object.station_m.3 }}</td>{% endif %}
          {% if object.comp_m.3 %}<td>{{ object.comp_m.3 }}</td>{% endif %}
          {% if object.DIS_m.3 %}<td>{{ object.DIS_m.3 }}</td>{% endif %}
          {% if object.azm_m.3 %}<td>{{ object.azm_m.3 }}</td>{% endif %}
          {% if object.b_azm_m.3 %}<td>{{ object.b_azm_m.3 }}</td>{% endif %}
          {% if object.amp_m.3 %}<td>{{ object.amp_m.3 }}</td>{% endif %}
          {% if object.gain_m.3 %}<td>{{ object.gain_m.3 }}</td>{% endif %}
          {% if object.local_m_m.3 %}<td>{{ object.local_m_m.3 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.4 %}<td>{{ object.station_m.4 }}</td>{% endif %}
          {% if object.comp_m.4 %}<td>{{ object.comp_m.4 }}</td>{% endif %}
          {% if object.DIS_m.4 %}<td>{{ object.DIS_m.4 }}</td>{% endif %}
          {% if object.azm_m.4 %}<td>{{ object.azm_m.4 }}</td>{% endif %}
          {% if object.b_azm_m.4 %}<td>{{ object.b_azm_m.4 }}</td>{% endif %}
          {% if object.amp_m.4 %}<td>{{ object.amp_m.4 }}</td>{% endif %}
          {% if object.gain_m.4 %}<td>{{ object.gain_m.4 }}</td>{% endif %}
          {% if object.local_m_m.4 %}<td>{{ object.local_m_m.4 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.5 %}<td>{{ object.station_m.5 }}</td>{% endif %}
          {% if object.comp_m.5 %}<td>{{ object.comp_m.5 }}</td>{% endif %}
          {% if object.DIS_m.5 %}<td>{{ object.DIS_m.5 }}</td>{% endif %}
          {% if object.azm_m.5 %}<td>{{ object.azm_m.5 }}</td>{% endif %}
          {% if object.b_azm_m.5 %}<td>{{ object.b_azm_m.5 }}</td>{% endif %}
          {% if object.amp_m.5 %}<td>{{ object.amp_m.5 }}</td>{% endif %}
          {% if object.gain_m.5 %}<td>{{ object.gain_m.5 }}</td>{% endif %}
          {% if object.local_m_m.5 %}<td>{{ object.local_m_m.5 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.6 %}<td>{{ object.station_m.6 }}</td>{% endif %}
          {% if object.comp_m.6 %}<td>{{ object.comp_m.6 }}</td>{% endif %}
          {% if object.DIS_m.6 %}<td>{{ object.DIS_m.6 }}</td>{% endif %}
          {% if object.azm_m.6 %}<td>{{ object.azm_m.6 }}</td>{% endif %}
          {% if object.b_azm_m.6 %}<td>{{ object.b_azm_m.6 }}</td>{% endif %}
          {% if object.amp_m.6 %}<td>{{ object.amp_m.6 }}</td>{% endif %}
          {% if object.gain_m.6 %}<td>{{ object.gain_m.6 }}</td>{% endif %}
          {% if object.local_m_m.6 %}<td>{{ object.local_m_m.6 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.7 %}<td>{{ object.station_m.7 }}</td>{% endif %}
          {% if object.comp_m.7 %}<td>{{ object.comp_m.7 }}</td>{% endif %}
          {% if object.DIS_m.7 %}<td>{{ object.DIS_m.7 }}</td>{% endif %}
          {% if object.azm_m.7 %}<td>{{ object.azm_m.7 }}</td>{% endif %}
          {% if object.b_azm_m.7 %}<td>{{ object.b_azm_m.7 }}</td>{% endif %}
          {% if object.amp_m.7 %}<td>{{ object.amp_m.7 }}</td>{% endif %}
          {% if object.gain_m.7 %}<td>{{ object.gain_m.7 }}</td>{% endif %}
          {% if object.local_m_m.7 %}<td>{{ object.local_m_m.7 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.8 %}<td>{{ object.station_m.8 }}</td>{% endif %}
          {% if object.comp_m.8 %}<td>{{ object.comp_m.8 }}</td>{% endif %}
          {% if object.DIS_m.8 %}<td>{{ object.DIS_m.8 }}</td>{% endif %}
          {% if object.azm_m.8 %}<td>{{ object.azm_m.8 }}</td>{% endif %}
          {% if object.b_azm_m.8 %}<td>{{ object.b_azm_m.8 }}</td>{% endif %}
          {% if object.amp_m.8 %}<td>{{ object.amp_m.8 }}</td>{% endif %}
          {% if object.gain_m.8 %}<td>{{ object.gain_m.8 }}</td>{% endif %}
          {% if object.local_m_m.8 %}<td>{{ object.local_m_m.8 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.9 %}<td>{{ object.station_m.9 }}</td>{% endif %}
          {% if object.comp_m.9 %}<td>{{ object.comp_m.9 }}</td>{% endif %}
          {% if object.DIS_m.9 %}<td>{{ object.DIS_m.9 }}</td>{% endif %}
          {% if object.azm_m.9 %}<td>{{ object.azm_m.9 }}</td>{% endif %}
          {% if object.b_azm_m.9 %}<td>{{ object.b_azm_m.9 }}</td>{% endif %}
          {% if object.amp_m.9 %}<td>{{ object.amp_m.9 }}</td>{% endif %}
          {% if object.gain_m.9 %}<td>{{ object.gain_m.9 }}</td>{% endif %}
          {% if object.local_m_m.9 %}<td>{{ object.local_m_m.9 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.10 %}<td>{{ object.station_m.10 }}</td>{% endif %}
          {% if object.comp_m.10 %}<td>{{ object.comp_m.10 }}</td>{% endif %}
          {% if object.DIS_m.10 %}<td>{{ object.DIS_m.10 }}</td>{% endif %}
          {% if object.azm_m.10 %}<td>{{ object.azm_m.10 }}</td>{% endif %}
          {% if object.b_azm_m.10 %}<td>{{ object.b_azm_m.10 }}</td>{% endif %}
          {% if object.amp_m.10 %}<td>{{ object.amp_m.10 }}</td>{% endif %}
          {% if object.gain_m.10 %}<td>{{ object.gain_m.10 }}</td>{% endif %}
          {% if object.local_m_m.10 %}<td>{{ object.local_m_m.10 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.11 %}<td>{{ object.station_m.11 }}</td>{% endif %}
          {% if object.comp_m.11 %}<td>{{ object.comp_m.11 }}</td>{% endif %}
          {% if object.DIS_m.11 %}<td>{{ object.DIS_m.11 }}</td>{% endif %}
          {% if object.azm_m.11 %}<td>{{ object.azm_m.11 }}</td>{% endif %}
          {% if object.b_azm_m.11 %}<td>{{ object.b_azm_m.11 }}</td>{% endif %}
          {% if object.amp_m.11 %}<td>{{ object.amp_m.11 }}</td>{% endif %}
          {% if object.gain_m.11 %}<td>{{ object.gain_m.11 }}</td>{% endif %}
          {% if object.local_m_m.11 %}<td>{{ object.local_m_m.11 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.12 %}<td>{{ object.station_m.12 }}</td>{% endif %}
          {% if object.comp_m.12 %}<td>{{ object.comp_m.12 }}</td>{% endif %}
          {% if object.DIS_m.12 %}<td>{{ object.DIS_m.12 }}</td>{% endif %}
          {% if object.azm_m.12 %}<td>{{ object.azm_m.12 }}</td>{% endif %}
          {% if object.b_azm_m.12 %}<td>{{ object.b_azm_m.12 }}</td>{% endif %}
          {% if object.amp_m.12 %}<td>{{ object.amp_m.12 }}</td>{% endif %}
          {% if object.gain_m.12 %}<td>{{ object.gain_m.12 }}</td>{% endif %}
          {% if object.local_m_m.12 %}<td>{{ object.local_m_m.12 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.13 %}<td>{{ object.station_m.13 }}</td>{% endif %}
          {% if object.comp_m.13 %}<td>{{ object.comp_m.13 }}</td>{% endif %}
          {% if object.DIS_m.13 %}<td>{{ object.DIS_m.13 }}</td>{% endif %}
          {% if object.azm_m.13 %}<td>{{ object.azm_m.13 }}</td>{% endif %}
          {% if object.b_azm_m.13 %}<td>{{ object.b_azm_m.13 }}</td>{% endif %}
          {% if object.amp_m.13 %}<td>{{ object.amp_m.13 }}</td>{% endif %}
          {% if object.gain_m.13 %}<td>{{ object.gain_m.13 }}</td>{% endif %}
          {% if object.local_m_m.13 %}<td>{{ object.local_m_m.13 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.14 %}<td>{{ object.station_m.14 }}</td>{% endif %}
          {% if object.comp_m.14 %}<td>{{ object.comp_m.14 }}</td>{% endif %}
          {% if object.DIS_m.14 %}<td>{{ object.DIS_m.14 }}</td>{% endif %}
          {% if object.azm_m.14 %}<td>{{ object.azm_m.14 }}</td>{% endif %}
          {% if object.b_azm_m.14 %}<td>{{ object.b_azm_m.14 }}</td>{% endif %}
          {% if object.amp_m.14 %}<td>{{ object.amp_m.14 }}</td>{% endif %}
          {% if object.gain_m.14 %}<td>{{ object.gain_m.14 }}</td>{% endif %}
          {% if object.local_m_m.14 %}<td>{{ object.local_m_m.14 }}</td>{% endif %}
        </tr>
        
        <tr>
          {% if object.station_m.15 %}<td>{{ object.station_m.15 }}</td>{% endif %}
          {% if object.comp_m.15 %}<td>{{ object.comp_m.15 }}</td>{% endif %}
          {% if object.DIS_m.15 %}<td>{{ object.DIS_m.15 }}</td>{% endif %}
          {% if object.azm_m.15 %}<td>{{ object.azm_m.15 }}</td>{% endif %}
          {% if object.b_azm_m.15 %}<td>{{ object.b_azm_m.15 }}</td>{% endif %}
          {% if object.amp_m.15 %}<td>{{ object.amp_m.15 }}</td>{% endif %}
          {% if object.gain_m.15 %}<td>{{ object.gain_m.15 }}</td>{% endif %}
          {% if object.local_m_m.15 %}<td>{{ object.local_m_m.15 }}</td>{% endif %}
        </tr>

        <tr>
          {% if object.station_m2.0 %}<td>{{ object.station_m2.0 }}</td>{% endif %}
          {% if object.comp_m2.0 %}<td>{{ object.comp_m2.0 }}</td>{% endif %}
          {% if object.DIS_m2.0 %}<td>{{ object.DIS_m2.0 }}</td>{% endif %}
          {% if object.azm_m2.0 %}<td>{{ object.azm_m2.0 }}</td>{% endif %}
          {% if object.b_azm_m2.0 %}<td>{{ object.b_azm_m2.0 }}</td>{% endif %}
          {% if object.amp_m2.0 %}<td>{{ object.amp_m2.0 }}</td>{% endif %}
          {% if object.gain_m2.0 %}<td>{{ object.gain_m2.0 }}</td>{% endif %}
          {% if object.local_m_m2.0 %}<td>{{ object.local_m_m2.0 }}</td>{% endif %}
      </tr>
      
      <tr>
          {% if object.station_m2.1 %}<td>{{ object.station_m2.1 }}</td>{% endif %}
          {% if object.comp_m2.1 %}<td>{{ object.comp_m2.1 }}</td>{% endif %}
          {% if object.DIS_m2.1 %}<td>{{ object.DIS_m2.1 }}</td>{% endif %}
          {% if object.azm_m2.1 %}<td>{{ object.azm_m2.1 }}</td>{% endif %}
          {% if object.b_azm_m2.1 %}<td>{{ object.b_azm_m2.1 }}</td>{% endif %}
          {% if object.amp_m2.1 %}<td>{{ object.amp_m2.1 }}</td>{% endif %}
          {% if object.gain_m2.1 %}<td>{{ object.gain_m2.1 }}</td>{% endif %}
          {% if object.local_m_m2.1 %}<td>{{ object.local_m_m2.1 }}</td>{% endif %}
      </tr>
      
      <tr>
          {% if object.station_m2.2 %}<td>{{ object.station_m2.2 }}</td>{% endif %}
          {% if object.comp_m2.2 %}<td>{{ object.comp_m2.2 }}</td>{% endif %}
          {% if object.DIS_m2.2 %}<td>{{ object.DIS_m2.2 }}</td>{% endif %}
          {% if object.azm_m2.2 %}<td>{{ object.azm_m2.2 }}</td>{% endif %}
          {% if object.b_azm_m2.2 %}<td>{{ object.b_azm_m2.2 }}</td>{% endif %}
          {% if object.amp_m2.2 %}<td>{{ object.amp_m2.2 }}</td>{% endif %}
          {% if object.gain_m2.2 %}<td>{{ object.gain_m2.2 }}</td>{% endif %}
          {% if object.local_m_m2.2 %}<td>{{ object.local_m_m2.2 }}</td>{% endif %}
      </tr>
      
      <tr>
          {% if object.station_m2.3 %}<td>{{ object.station_m2.3 }}</td>{% endif %}
          {% if object.comp_m2.3 %}<td>{{ object.comp_m2.3 }}</td>{% endif %}
          {% if object.DIS_m2.3 %}<td>{{ object.DIS_m2.3 }}</td>{% endif %}
          {% if object.azm_m2.3 %}<td>{{ object.azm_m2.3 }}</td>{% endif %}
          {% if object.b_azm_m2.3 %}<td>{{ object.b_azm_m2.3 }}</td>{% endif %}
          {% if object.amp_m2.3 %}<td>{{ object.amp_m2.3 }}</td>{% endif %}
          {% if object.gain_m2.3 %}<td>{{ object.gain_m2.3 }}</td>{% endif %}
          {% if object.local_m_m2.3 %}<td>{{ object.local_m_m2.3 }}</td>{% endif %}
      </tr>
      
      <tr>
          {% if object.station_m2.4 %}<td>{{ object.station_m2.4 }}</td>{% endif %}
          {% if object.comp_m2.4 %}<td>{{ object.comp_m2.4 }}</td>{% endif %}
          {% if object.DIS_m2.4 %}<td>{{ object.DIS_m2.4 }}</td>{% endif %}
          {% if object.azm_m2.4 %}<td>{{ object.azm_m2.4 }}</td>{% endif %}
          {% if object.b_azm_m2.4 %}<td>{{ object.b_azm_m2.4 }}</td>{% endif %}
          {% if object.amp_m2.4 %}<td>{{ object.amp_m2.4 }}</td>{% endif %}
          {% if object.gain_m2.4 %}<td>{{ object.gain_m2.4 }}</td>{% endif %}
          {% if object.local_m_m2.4 %}<td>{{ object.local_m_m2.4 }}</td>{% endif %}
      </tr>
      
      <tr>
          {% if object.station_m2.5 %}<td>{{ object.station_m2.5 }}</td>{% endif %}
          {% if object.comp_m2.5 %}<td>{{ object.comp_m2.5 }}</td>{% endif %}
          {% if object.DIS_m2.5 %}<td>{{ object.DIS_m2.5 }}</td>{% endif %}
          {% if object.azm_m2.5 %}<td>{{ object.azm_m2.5 }}</td>{% endif %}
          {% if object.b_azm_m2.5 %}<td>{{ object.b_azm_m2.5 }}</td>{% endif %}
          {% if object.amp_m2.5 %}<td>{{ object.amp_m2.5 }}</td>{% endif %}
          {% if object.gain_m2.5 %}<td>{{ object.gain_m2.5 }}</td>{% endif %}
          {% if object.local_m_m2.5 %}<td>{{ object.local_m_m2.5 }}</td>{% endif %}
      </tr>
      
      <tr>
          {% if object.station_m2.6 %}<td>{{ object.station_m2.6 }}</td>{% endif %}
          {% if object.comp_m2.6 %}<td>{{ object.comp_m2.6 }}</td>{% endif %}
          {% if object.DIS_m2.6 %}<td>{{ object.DIS_m2.6 }}</td>{% endif %}
          {% if object.azm_m2.6 %}<td>{{ object.azm_m2.6 }}</td>{% endif %}
          {% if object.b_azm_m2.6 %}<td>{{ object.b_azm_m2.6 }}</td>{% endif %}
          {% if object.amp_m2.6 %}<td>{{ object.amp_m2.6 }}</td>{% endif %}
          {% if object.gain_m2.6 %}<td>{{ object.gain_m2.6 }}</td>{% endif %}
          {% if object.local_m_m2.6 %}<td>{{ object.local_m_m2.6 }}</td>{% endif %}
      </tr>
      
      <tr>
          {% if object.station_m2.7 %}<td>{{ object.station_m2.7 }}</td>{% endif %}
          {% if object.comp_m2.7 %}<td>{{ object.comp_m2.7 }}</td>{% endif %}
          {% if object.DIS_m2.7 %}<td>{{ object.DIS_m2.7 }}</td>{% endif %}
          {% if object.azm_m2.7 %}<td>{{ object.azm_m2.7 }}</td>{% endif %}
          {% if object.b_azm_m2.7 %}<td>{{ object.b_azm_m2.7 }}</td>{% endif %}
          {% if object.amp_m2.7 %}<td>{{ object.amp_m2.7 }}</td>{% endif %}
          {% if object.gain_m2.7 %}<td>{{ object.gain_m2.7 }}</td>{% endif %}
          {% if object.local_m_m2.7 %}<td>{{ object.local_m_m2.7 }}</td>{% endif %}
      </tr>
      
      <tr>
          {% if object.station_m2.8 %}<td>{{ object.station_m2.8 }}</td>{% endif %}
          {% if object.comp_m2.8 %}<td>{{ object.comp_m2.8 }}</td>{% endif %}
          {% if object.DIS_m2.8 %}<td>{{ object.DIS_m2.8 }}</td>{% endif %}
          {% if object.azm_m2.8 %}<td>{{ object.azm_m2.8 }}</td>{% endif %}
          {% if object.b_azm_m2.8 %}<td>{{ object.b_azm_m2.8 }}</td>{% endif %}
          {% if object.amp_m2.8 %}<td>{{ object.amp_m2.8 }}</td>{% endif %}
          {% if object.gain_m2.8 %}<td>{{ object.gain_m2.8 }}</td>{% endif %}
          {% if object.local_m_m2.8 %}<td>{{ object.local_m_m2.8 }}</td>{% endif %}
      </tr>
      
      <tr>
          {% if object.station_m2.9 %}<td>{{ object.station_m2.9 }}</td>{% endif %}
          {% if object.comp_m2.9 %}<td>{{ object.comp_m2.9 }}</td>{% endif %}
          {% if object.DIS_m2.9 %}<td>{{ object.DIS_m2.9 }}</td>{% endif %}
          {% if object.azm_m2.9 %}<td>{{ object.azm_m2.9 }}</td>{% endif %}
          {% if object.b_azm_m2.9 %}<td>{{ object.b_azm_m2.9 }}</td>{% endif %}
          {% if object.amp_m2.9 %}<td>{{ object.amp_m2.9 }}</td>{% endif %}
          {% if object.gain_m2.9 %}<td>{{ object.gain_m2.9 }}</td>{% endif %}
          {% if object.local_m_m2.9 %}<td>{{ object.local_m_m2.9 }}</td>{% endif %}
      </tr>
      
      <!-- Continue for the rest of the rows -->

      
      <tr>
        {% if object.station_m2.10 %}<td>{{ object.station_m2.10 }}</td>{% endif %}
        {% if object.comp_m2.10 %}<td>{{ object.comp_m2.10 }}</td>{% endif %}
        {% if object.DIS_m2.10 %}<td>{{ object.DIS_m2.10 }}</td>{% endif %}
        {% if object.azm_m2.10 %}<td>{{ object.azm_m2.10 }}</td>{% endif %}
        {% if object.b_azm_m2.10 %}<td>{{ object.b_azm_m2.10 }}</td>{% endif %}
        {% if object.amp_m2.10 %}<td>{{ object.amp_m2.10 }}</td>{% endif %}
        {% if object.gain_m2.10 %}<td>{{ object.gain_m2.10 }}</td>{% endif %}
        {% if object.local_m_m2.10 %}<td>{{ object.local_m_m2.10 }}</td>{% endif %}
    </tr>
    
    <tr>
        {% if object.station_m2.11 %}<td>{{ object.station_m2.11 }}</td>{% endif %}
        {% if object.comp_m2.11 %}<td>{{ object.comp_m2.11 }}</td>{% endif %}
        {% if object.DIS_m2.11 %}<td>{{ object.DIS_m2.11 }}</td>{% endif %}
        {% if object.azm_m2.11 %}<td>{{ object.azm_m2.11 }}</td>{% endif %}
        {% if object.b_azm_m2.11 %}<td>{{ object.b_azm_m2.11 }}</td>{% endif %}
        {% if object.amp_m2.11 %}<td>{{ object.amp_m2.11 }}</td>{% endif %}
        {% if object.gain_m2.11 %}<td>{{ object.gain_m2.11 }}</td>{% endif %}
        {% if object.local_m_m2.11 %}<td>{{ object.local_m_m2.11 }}</td>{% endif %}
    </tr>
    
    <tr>
        {% if object.station_m2.12 %}<td>{{ object.station_m2.12 }}</td>{% endif %}
        {% if object.comp_m2.12 %}<td>{{ object.comp_m2.12 }}</td>{% endif %}
        {% if object.DIS_m2.12 %}<td>{{ object.DIS_m2.12 }}</td>{% endif %}
        {% if object.azm_m2.12 %}<td>{{ object.azm_m2.12 }}</td>{% endif %}
        {% if object.b_azm_m2.12 %}<td>{{ object.b_azm_m2.12 }}</td>{% endif %}
        {% if object.amp_m2.12 %}<td>{{ object.amp_m2.12 }}</td>{% endif %}
        {% if object.gain_m2.12 %}<td>{{ object.gain_m2.12 }}</td>{% endif %}
        {% if object.local_m_m2.12 %}<td>{{ object.local_m_m2.12 }}</td>{% endif %}
    </tr>
    
    <tr>
        {% if object.station_m2.13 %}<td>{{ object.station_m2.13 }}</td>{% endif %}
        {% if object.comp_m2.13 %}<td>{{ object.comp_m2.13 }}</td>{% endif %}
        {% if object.DIS_m2.13 %}<td>{{ object.DIS_m2.13 }}</td>{% endif %}
        {% if object.azm_m2.13 %}<td>{{ object.azm_m2.13 }}</td>{% endif %}
        {% if object.b_azm_m2.13 %}<td>{{ object.b_azm_m2.13 }}</td>{% endif %}
        {% if object.amp_m2.13 %}<td>{{ object.amp_m2.13 }}</td>{% endif %}
        {% if object.gain_m2.13 %}<td>{{ object.gain_m2.13 }}</td>{% endif %}
        {% if object.local_m_m2.13 %}<td>{{ object.local_m_m2.13 }}</td>{% endif %}
    </tr>
    
    <tr>
        {% if object.station_m2.14 %}<td>{{ object.station_m2.14 }}</td>{% endif %}
        {% if object.comp_m2.14 %}<td>{{ object.comp_m2.14 }}</td>{% endif %}
        {% if object.DIS_m2.14 %}<td>{{ object.DIS_m2.14 }}</td>{% endif %}
        {% if object.azm_m2.14 %}<td>{{ object.azm_m2.14 }}</td>{% endif %}
        {% if object.b_azm_m2.14 %}<td>{{ object.b_azm_m2.14 }}</td>{% endif %}
        {% if object.amp_m2.14 %}<td>{{ object.amp_m2.14 }}</td>{% endif %}
        {% if object.gain_m2.14 %}<td>{{ object.gain_m2.14 }}</td>{% endif %}
        {% if object.local_m_m2.14 %}<td>{{ object.local_m_m2.14 }}</td>{% endif %}
    </tr>
    
    <tr>
        {% if object.station_m2.15 %}<td>{{ object.station_m2.15 }}</td>{% endif %}
        {% if object.comp_m2.15 %}<td>{{ object.comp_m2.15 }}</td>{% endif %}
        {% if object.DIS_m2.15 %}<td>{{ object.DIS_m2.15 }}</td>{% endif %}
        {% if object.azm_m2.15 %}<td>{{ object.azm_m2.15 }}</td>{% endif %}
        {% if object.b_azm_m2.15 %}<td>{{ object.b_azm_m2.15 }}</td>{% endif %}
        {% if object.amp_m2.15 %}<td>{{ object.amp_m2.15 }}</td>{% endif %}
        {% if object.gain_m2.15 %}<td>{{ object.gain_m2.15 }}</td>{% endif %}
        {% if object.local_m_m2.15 %}<td>{{ object.local_m_m2.15 }}</td>{% endif %}
    </tr>
    

        
        <br>

    </table>

</div>

<div style="margin-left: 110px;">

{% if object.image_h and object.image_h.url %}
    <img width="150%" height="150%" style="margin-top: 50px;" src="{{ object.image_h.url }}">
    <p style="font-family: Times New Roman; font-size: 19px; text-align: justify; margin: 0; margin-left: 270px; margin-top: 40px; width: 115%;">
      ML magnitude computed from horizontal components
  </p>
{% else %}
  <p style="color: gray;"> </p>
{% endif %}
<br>


{% if object.image_z and object.image_z.url %}
    <img width="150%" height="150%" style="margin-top: 50px;" src="{{ object.image_z.url }}">
    <p style="font-family: Times New Roman; font-size: 19px; text-align: justify; margin: 0; margin-left: 270px; margin-top: 40px; width: 115%;">
      ML magnitude computed from vertical components
  </p>
{% else %}
  <p style="color: gray;"> </p>
{% endif %}
<br>


{% if object.image_p and object.image_p.url %}
    <img width="150%" height="150%" style="margin-top: 50px;" src="{{ object.image_p.url }}">
    <p style="font-family: Times New Roman; font-size: 19px; text-align: justify; margin: 0; margin-left: 270px; margin-top: 40px; width: 115%;">
      MLg magnitude computed from vertical components
  </p>
{% else %}
    <p style="color: gray;"> </p>
{% endif %}
<br>

</div>  
          

{% endblock content %}