{% extends "testdb/base.html" %}
{% block content %}

<br>
<br>
<div>
    <img  width="160%" height="160%" src="{{ object.image2.url }}">
    <br>


    <table style="width:1000px; margin-left: 70px; font-family: Times New Roman;">
        <tr>
          <th>Station</th>
          <th>Distance</th>
          <th>Azimuth</th>
          <th>Back Azimuth</th>
          <th>Amplitude (nm)</th>
          <th>Gain</th>
          <th>Local Magnitude (ML)</th>
        </tr>
          {% for row in file1_data %}
          <tr>
              <td>{{ row.0 }}</td> <!-- Access first value in the row -->
              <td>{{ row.1 }}</td> <!-- Access second value in the row -->
              <td>{{ row.2 }}</td> <!-- Access third value in the row -->
              <td>{{ row.3 }}</td> <!-- Access fourth value in the row -->
              <td>{{ row.4 }}</td> <!-- Access fifth value in the row -->
          </tr>
          {% endfor %}
</div>
          

{% endblock content %}