{% extends "testdb/base.html" %}
{% block content %}

<br>
<br>
<div>
    
    <br>


    <table style="width:1000px; margin-left: 70px; font-family: Times New Roman;">
        <tr>
          <th>Station</th>
          <th>Distance</th>
          <th>Azimuth</th>
          <th>Back Azimuth</th>
          <th>Amplitude (nm)</th>
          <th>Gain</th>
          <th>Local Magnitude (ML)</th>
        </tr>
        <tr>
          <td>{{ post.file1_data.0.2 }}{{ post.file1_data.0.3 }}{{ post.file1_data.0.4 }}{{ post.file1_data.0.5 }}{{ post.file1_data.0.6 }}{{ post.file1_data.0.7 }}{{ post.file1_data.0.8 }}</td>
          <td>{{ post.file1_data.1.2 }}{{ post.file1_data.1.3 }}{{ post.file1_data.1.4 }}{{ post.file1_data.1.5 }}{{ post.file1_data.1.6 }}{{ post.file1_data.1.7 }}{{ post.file1_data.1.8 }}</td>
          <td>{{ post.file1_data.2.2 }}{{ post.file1_data.2.3 }}{{ post.file1_data.2.4 }}{{ post.file1_data.2.5 }}{{ post.file1_data.2.6 }}{{ post.file1_data.2.7 }}{{ post.file1_data.2.8 }}</td>
          <td>{{ post.file1_data.3 }}</td>
          <td>{{ post.file1_data.4 }}</td>
        </tr>
        <img  width="160%" height="160%" src="{{ object.image2.url }}">
        <br>
</div>
          

{% endblock content %}