{% extends "testdb/base.html" %}
{% block content %}

<br>
<br>
<div>
    
    <br>


    <table style="width:1000px; margin-left: 70px; font-family: Times New Roman;">
        <tr>
          <th>Station</th>
          <th>Component</th>
          <th>Distance</th>
          <th>Azimuth</th>
          <th>Back Azimuth</th>
          <th>Amplitude (nm)</th>
          <th>Gain</th>
          <th>Local Magnitude (ML)</th>
        </tr>
        <tr>
          <td>{{ post.station_m }}</td>
          <td>{{ post.comp_m }}</td>
          <td>{{ post.DIS_m.0 }}</td>
          <td>{{ post.azm_m.0 }}</td>
          <td>{{ post.amp_m.0 }}</td>
          <td>{{ post.b_azm_m.0 }}</td>
          <td>{{ post.gain_m.0 }}</td>
          <td>{{ post.local_m_m.0 }}</td>
        </tr>
        <img  width="160%" height="160%" src="{{ object.image2.url }}">
        <br>
</div>
          

{% endblock content %}