{% extends "testdb/base.html" %}
{% block content %}
<br>


    <div style="margin-left: 120px; font-size: 17px; font-family: Times New Roman; display: flex; align-items: center;">
      <div style="flex: 0 0 auto; margin-left: -55px;">
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post2_update' post.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post2_delete' post.id %}">Delete</a>
          </div>
        {% endif %}
        <p><strong>Date - Time (UTC): </strong>{{ object.event }}</p>
        <p style="width:100%"><strong>Location: </strong>{{ object.Latitude }}N, {{ object.Longitude }}E</p>
        {% if object.Depth == "0.00" %}
            <p><strong>Depth: </strong>10 km</p>
        {% else %}
            <p><strong>Depth: </strong>{{ object.Depth }} km</p>
        {% endif %}
        <p><strong>Local Magnitude (ML): </strong>{{ object.Magnitude }}</p>
        <p><strong>Moment Magnitude (Mw): </strong>{{ object.MagnitudeMw }} </p>
        <p style="width: 100%;"><strong>Location uncertainty: </strong>+/-{{ object.lu1 }} in N-S Direction | +/-{{ object.lu2 }} in E-W Direction</p>
        <p><strong>RMS error: </strong>{{ object.RMS }}</p>
        <p><strong>Azimuthal Gap: </strong>{{ object.Gap }}°</p>
        <p><strong>Source: </strong>Mesopotamian Seismological Network (MPSN) in Iraq</p>
        <a href="{% url 'post2_phase' post2.id %}">Phase (Arrival times)</a><br>
        <a href="{% url 'mag2_value' post2.id %}">Magnitude Value</a><br>
        <a href="{{ object.file2.url }}"  target="_blank">Wave File Download</a>
      </div>
      <img width="70%" height="70%" src="{{ object.image.url }}">
    </div>
    <br>

{% endblock content %}
